.Contact-container {
  justify-content: space-between;
  gap: 10%;
}
.Contact-container > div {
  flex: 1;
}
.Contact-right {
  width: 100%;
}
.Contact-left {
  gap: 0.5rem;
}
.Contact-options {
  margin-top: 2rem;
  gap: 1rem;
}
.Contact-option .row {
  gap: 1.5rem;
}
.mode {
  width: 16rem;
  padding: 1rem;
  margin: 10px;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 5px;
  gap: 1rem;
  transition: all 300ms ease-in;
}
.mode .Button {
  width: 100%;
  background: var(--lightBlue);
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 600;
}

.mode > :nth-child(1) {
  width: 100%;
  gap: 1.6rem;
}
.mode .detail .primaryText {
  font-size: 1.1rem;
  font-weight: 600;
}
.mode:hover {
  scale: 1.1;
  box-shadow: var(--shadow);
}
.mode .Button:hover {
  background-color: var(--blue-gradient);
  color: #fff;
  scale: 0.8;
}

@media (max-width: 1024px) {
  .Contact-container {
    flex-direction: column;
  }
  .Contact-right {
    justify-content: center;
  }
  .Contact-options {
    width: 100%;
  }
  .row {
    flex-direction: column;
    width: 100%;
  }
  .mode {
    width: 100%;
  }
}
